body {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 24px;
}

.links {
    display: flex;
    gap: 20px;
}

li {
    display: inline;
}

a, .secondary {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.top-content {
    display: flex;
}

.top-left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.top-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.main {
    color: white;
    font-size: 48px;
    font-weight: extra-bold;
}

.pic {
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 4px 20px;
    border-radius: 8px;
}

.top-button {
    align-self: flex-start;
}